body {
  background-color: #B8BBBE;
  font-family: Helvetica, Sans-Serif;
}

.m-signature-pad {
  position: absolute;
  z-index: 100;
  font-size: 10px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 2em;
  border: 1px solid #e8e8e8;
  background-color: #fff;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.27), 0 0 40px rgba(0, 0, 0, 0.08) inset;
  border-radius: 4px;
}

._m-signature-pad:before, ._m-signature-pad:after {
	position: absolute;
  z-index: -1;
  content: "";
	width: 40%;
	height: 1em;
	left: 2em;
	bottom: 1em;
	background: transparent;
	-webkit-transform: skew(-3deg) rotate(-3deg);
	-moz-transform: skew(-3deg) rotate(-3deg);
	-ms-transform: skew(-3deg) rotate(-3deg);
	-o-transform: skew(-3deg) rotate(-3deg);
	transform: skew(-3deg) rotate(-3deg);
	box-shadow: 0 8px 12px rgba(0, 0, 0, 0.4);
}

._m-signature-pad:after {
	left: auto;
	right: 12px;
	-webkit-transform: skew(3deg) rotate(3deg);
	-moz-transform: skew(3deg) rotate(3deg);
	-ms-transform: skew(3deg) rotate(3deg);
	-o-transform: skew(3deg) rotate(3deg);
	transform: skew(3deg) rotate(3deg);
}

.m-signature-pad--body {
  position: absolute;
  left: 2em;
  right: 2em;
  top: 2em;
  bottom: 6em;
}

.m-signature-pad--body
  canvas {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border: 1px solid #f4f4f4;
    border-radius: 4px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.02) inset;
  }

.m-signature-pad--footer {
  position: absolute;
  left: 2em;
  right: 2em;
  bottom: 2em;
  height: 4em;
}

.m-signature-pad--footer
  .description {
    color: #C3C3C3;
    text-align: center;
    font-size: 1.2em;
    margin-top: 2em;
  }

.m-signature-pad--footer
  .button {
    position: absolute;
    bottom: 0;
  }

.m-signature-pad--footer
  .button.clear {
    left: 0;
  }

.m-signature-pad--footer
  .button.save {
    right: 0;
  }

@media only screen and (min-width: 1024px) {
  .m-signature-pad {
    width: 700px;
    height: 400px;
    top: 50%;
    left: 50%;
    right: auto;
    bottom: auto;
    margin-left: -350px;
    margin-top: -200px;
  }
}
@media only screen and (max-width: 1024px) {
  #github {
    display: none;
  }
}
